@model List<MoviePenguin.Models.Category>
<li>
    <div class="dropdown">
        <button class="dropbtn">Thể Loại</button>
        <ul class="dropdown-content">
            @foreach (var item in Model)
            {
                <li><a href="/Movie/CategoryPage/@item.CategoryID">@item.Name</a></li>
            }
        </ul>
    </div>
</li>
