@model List<MoviePenguin.Models.Country>
<li>
    <div class="dropdown">
        <button class="dropbtn">Quốc Gia</button>
        <ul class="dropdown-content">
            @foreach (var item in Model)
            {
                <li><a href="/Movie/CountryPage/@item.CountryID">@item.Name</a></li>
            }
        </ul>
    </div>
</li>
